<aside class="aside p-2">
    <div class="p-4 bg-light widget widget_text">
        <div class="wrapper">
            <h3>Acerca de mi</h3>
            <img src="http://amory.premiumcoding.com/minimal/wp-content/uploads/2016/05/avatar1-1.jpg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, blanditiis delectus. Nostrum beatae quas ratione quaerat amet.
        </div>    
    </div>
    <div class="p-4 my-4 bg-light widget widget_text">
        <div class="wrapper">
            <h3>Socializa conmigo</h3>
            <div class="socials py-3 d-flex justify-content-center">
                <a class="" href=""> <i class="fab fa-twitter"></i> </a>
                <a class="mx-4" href=""> <i class="fab fa-facebook-square"></i> </a>
                <a class="" href=""> <i class="fab fa-instagram-square"></i> </a>
            </div>
        </div>    
    </div>
    <div class="p-4 my-4 bg-light widget widget_text">
        <div class="wrapper">
            <h3>Populares</h3>
        </div>    
    </div>
    <div class="p-4 my-4 bg-light widget widget_text">
        <div class="wrapper">
            <h3>Recientes</h3>
        </div>    
    </div>
    <div class="p-4 my-4 border bg-light widget widget_text">
        <div class="wrapper">
            <h3>Subcribete</h3>
            <p>Sign up to receive updates and join our 2 subscribers that see what's new with my Everly's Blog!</p>
            <form action="">
                <input type="text" class="form-control" placeholder="Correo">
                <button class="btn btn-primary d-block my-3" style="width: 100%;font-weight: bold;">Suscribeme</button>
            </form>
        </div>    
    </div>
</aside>