<nav aria-label="breadcrumb d-block">
    <ol class="breadcrumb bg-light p-3 d-flex justify-content-center">
        <li class="breadcrumb-item px-2">
            <a  href="/" class="text-decoration-none">Principal</a>
        </li>
        <li class="breadcrumb-item px-2">
            <a  href="/nodejs" class="text-decoration-none">Node</a>
        </li>
        <li class="breadcrumb-item px-2">
            <a  href="/vuejs" class="text-decoration-none">Vue</a>
        </li>
        <li class="breadcrumb-item px-2">
            <a  href="/nuxtjs" class="text-decoration-none">Nuxt</a>
        </li>
        <li class="breadcrumb-item px-2">
            <a  href="/reactjs" class="text-decoration-none">React</a>
        </li>
    </ol>
</nav>